.date-picker-style{
    display: flex;
    flex-direction: column;
    .date-picker-label{
        font-size: 20px;
        font-weight: 800px;
    }
    .date-picker{
        border: 1px solid #dce0e8;
        width: 200px;
        height: 35px;
    }
}

.input-customer, .select-search-value{
    border: 1px solid #dce0e8;
    width: 250px;
    height: 35px;
}
