@import "../config";
.handle-date{
    width: 80px !important;
}
.btn-search-style {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

@media screen and (min-width:769px) {
    .handle-date-input-btn {
        display: flex;
        justify-content: space-around;
        // border: 2px solid $primary-color;
        // border: 2px solid $btn-seen-hover;
        background-color: $bg-filter;
        align-items: center;
        margin: 20px 05px;
        padding: 20px;
    }

    .handle-date-input-btn-sm {
        display: none !important;
    }
}

@media screen and (max-width:768px) {
    .handle-date-input-btn {
        display: none !important;
    }

    .handle-date-input-btn-sm {
        margin: 20px 05px;
        padding: 20px;
    }
}

.customer-complimentary-history {
    display: flex;

    .table-customer-history {
        margin: 15px 5px;

        .table-history-responsive {
            height: 600px;
            overflow-x: auto;

            .table-customer, .table-complementary {
                text-align: center;

                td,
                th {
                    border: 1px solid black;
                }
            }
            .table-complementary{
                font-family: 'Source Sans Pro';
            }
            .table-complementary thead {
                .position-sticky {
                    position: sticky;
                    top: 0;
                    background-color: $btn-search;
                    color: $secondary-color;
                }
            }
        }
    }
}

.table-customer thead {
    .position-sticky {
        position: sticky;
        top: 0;
        background-color: $btn-seen;
        color: $secondary-color;
    }
}

.customer-history {
    display: flex;
    flex-direction: column;
}

.btn-show {
    width: 120px;
    height: 50px;
    border: 1px solid $btn-search;
    background-color: $btn-search;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-right: 5px;

    &:hover {
        background-color: $btn-search-hover;
    }
}

@media screen and (max-width:700px) {
    .customer-complimentary-history {
        display: flex;
        flex-direction: column;
    }

    .handle-date-input-btn {
        display: flex;
        flex-direction: column;
    }
}