$danger-color:hsla(0, 100%, 50%, 0.849);
$success-color:rgb(19, 160, 6);
$bg-color: rgb(82, 86, 95);
$primary-color:black;
$secondary-color:white;
$card-header:rgb(170, 0, 255);
$bg-course:rgb(216, 216, 216);
$btn-seen:rgb(237, 40, 144);
$add-on:rgb(247, 181, 82);
$description:rgb(94, 147, 252);
