@import "./config";
.sidebar-container{
    display: flex;
}
// .sidebar{
//     flex: 1;
// }
// .sidebar-less{
//     flex: 0;
// }
// .main-content{
//     flex: 2;
// }
// .main-content-less{
//     flex: 1;
// }
// .dine-tabs-info-open{
//     width: 370px;
//     .offcanvas-header {
//         background-color: $btn-seen;
//         height: 163px;
//     }
//     .dine-tabs-list {
//         margin: 30px 10px;
//         // width: 100%;
    
//         .hr-line {
//             border: 1px dotted black;
//             margin: 10px 20px;
//         }
    
//         .total-info {
//             padding: 10px 0px;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
    
//             label {
//                 font-size: 20px;
//             }
    
//             span {
//                 font-weight: 600;
//             }
    
//             .info {
//                 padding: 10px 0px;
//                 margin-left: 10px;
//             }
//         }
    
//     }
// }
.dine-tabs-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 1px;

    .offcanvas-header {
        background-color: $btn-seen;
        height: 163px;
    }
    .dine-tabs-list {
        margin: 30px 10px;
        // width: 100%;
    
        .hr-line {
            border: 1px dotted black;
            margin: 10px 20px;
        }
    
        .total-info {
            padding: 10px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            label {
                font-size: 20px;
            }
    
            span {
                font-weight: 600;
            }
    
            .info {
                padding: 10px 0px;
                margin-left: 10px;
            }
        }
    
    }
}
.export {
    background-color: $add-on;
    border: 2px solid $secondary-color;
    border-radius: 02px;
    height: 30px;
    color: $secondary-color;
}

.food-table-group,
.beverage-table-group {
    border: 2px solid black;
    margin: 05px 20px;

    th {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

    td {
        // border: 1px solid black;
        font-weight: 200;
    }
}


.bill-info-details {
    // overflow: scroll;
    height: auto;
    text-align: center;

    td {
        border: 1px solid black
    }
}

.modal-p-span {
    span {
        padding-left: 05px;
    }

    p {
        padding-left: 20px;
    }
}

// .offcanvas-start .show {
//     display: block;
// }

// .btn-side {
//     background-color: $btn-seen;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     color: $secondary-color;
//     position: absolute;
//     top: 50%;

//     .icon-arrow {
//         width: calc(100% - 05px);
//         height: calc(100% - 10px);
//         color: $secondary-color;
//     }
// }

// .btn-side-info {
//     background-color: $btn-seen;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     color: $secondary-color;
//     position: absolute;
//     top: 50%;
//     left: 100%;

//     .icon-arrow {
//         width: calc(100% - 05px);
//         height: calc(100% - 10px);
//         color: $secondary-color;
//     }
// }

.dine-tabs-paymemnt-status,
.bill-no {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        font-size: 20px;
        font-weight: 600;
    }
}

.checkbox {
    margin-left: 5px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.show-pie-chart {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .food-beverage-qty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.chart-table {
    display: flex;
}

@media screen and (max-width: 700px) {
    .fix-width-contain {
        display: flex;
        flex-direction: column;
    }
}

.select-options {
    // flex: 2;
    flex-direction: column;
    margin: 30px;

    .date-picker-outlet {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .date-picker {
            border: 1px solid $date-picker-border;
            height: 50px;
        }
    }

    .date-picker-outlet-sm {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .date-picker {
            width: 300px;
            border: 1px solid $date-picker-border;
            height: 50px;
        }
    }

    .btn-search-view {
        display: flex;
        justify-content: center;
        margin: 20px 0px;

        .btn-search {
            width: 120px;
            height: 50px;
            border: 1px solid $btn-search;
            background-color: $btn-search;
            color: white;
            padding: 10px;
            border-radius: 10px;
            margin-right: 5px;

            &:hover {
                background-color: $btn-search-hover;
            }
        }
    }
}

.table-bill {
    .detail-info {
        font-size: 20px;
        font-weight: 500;
    }
}

@media screen and (max-width:900px) {
    .date-picker-outlet-sm {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (min-width:780px) {
    .date-picker-outlet-sm {
        display: none !important;
    }
}

@media screen and (max-width: 780px) {
    .date-picker-outlet {
        display: none !important;
    }

    .btn-side-info,
    .btn-side {
        width: 35px;
        height: 35px;
        top: 60%;

        .icon-arrow {
            width: calc(100% - 05px);
            height: calc(100% - 10px);
            color: $secondary-color;
        }
    }

    .food-beverage-table {
        display: flex;
        flex-direction: column;
    }
}

.table-responsive-food,
.table-responsive-beverage {
    height: 500px;
    overflow-x: auto;
    // overflow-y: scroll;
}

.table-responsive-bill {
    font-size: 20px;
    display: block;
    width: 100%;
    height: 500px;
    overflow-x: auto;
    // overflow-y: scroll;
    margin: 30px 10px;

    .table-bill {

        td,
        tr,
        th {
            padding: 6px;
            border: 1px solid #ccc;
            text-align: center;
        }
    }

}

.food-beverage-table {
    display: flex;

    .food-heading {
        color: $add-on
    }

    .beverage-heading {
        color: $btn-seen-hover
    }

    .bg-heading-food {
        background-color: #f8eaea;
        border-radius: 05px;
        height: 40px;
        width: 150px;
        padding: 10px;
        text-align: center;
    }
}

.table-responsive-beverage>table,
.table-responsive-food>table {
    width: 100%;
}

// .table-responsive{
//     background-color: #ccc;
//     color: $primary-color;
// }
.table-responsive-beverage,
.table-responsive-food {
    font-size: 21px;
    display: block;
    width: 100%;
    overflow-x: auto;
    margin: 20px 10px;

    .table-beverage,
    .table-food {

        td,
        tr,
        th {
            padding: 6px;
            border: 1px solid #ccc;
            text-align: center;
        }
    }

}

.table-responsive-beverage>table .table-responsive-food>table {
    width: 100%;
}