    .performance-chart{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 20px;
    }
    @media screen and (max-width:1080px){
        .performance-chart{
            display: flex;
            flex-direction: column;
        }
    }
    .search-select-year-outlet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        margin: 20px 0px;
        .select-outlet-year{
            margin: 10px 0px;
        }
    }