    .performance-chart{
        display: flex;
    }
    .search-select-year-outlet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        margin: 20px 0px;
    }